module.exports = {
  name: "<NAME-OF-THE-COMMAND>",
  description: "<DESCRIPTION-OF-THE-COMMAND>",
  args: '<BOOLEAN-WHICH-INDICATES-WHETER-HAVE-ARGS-OR-NOT>',
  reply: '<REPLY-TO-THE-USER-TELLING-HOW-IT-SHOULD-USE-THE-COMMAND>',
  guildOnly: '<BOOLEAN-WHICH-INDICATES-WHETER-THE-COMMAND-IS-GUILD-ONLY>',
  execute(message, args) {
    // <ACTUAL-CODE-EXECUTED-BY-THE-COMMAND>
  },
};